@import url(https://fonts.googleapis.com/css2?family=Rubik);
:root {
  --primary-text-color: #222;
  --secondary-text-color: #fff;
  --primary-bg-color: #222;
  --secondary-bg-color: #fff;
  --tertiary-bg-color: #ddd;
}

* { box-sizing: border-box }

body {
  background-color: var(--tertiary-bg-color);
  color: var(--primary-text-color);
  font-family: "Rubik", serif;
  font-size: 16px;
  line-height: 1.6;
  height: 100%;
  margin: 0;
}

nav { height: 2em; }
ul.hlist {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
ul.hlist > li { margin: 0; }
ul.hlist > li:before {
    content: '|';
    margin: 5px;
}
ul.hlist > li:first-child:before {
    content: '';
}
